/*
 * Example application secrets file.
 * This file stores secrets specific to your spotify account and wireless
 * network
 */

#ifndef APP_SECRETS_H_
#define APP_SECRETS_H_

/* Wireless network SSID */
#define WIFI_SSID "My Network SSID"

/* Wireless network passphrase */
#define WIFI_PASSPHRASE "MySecurePassword"

/*
 * Spotify authorization header. Used when refreshing authentication token.
 * Should have the format Basic <base64 encoded client_id:client_secret>.
 * See https://developer.spotify.com/documentation/web-api/tutorials/refreshing-tokens
 * for more details.
 */
#define SPOTIFY_AUTH_SECRET "Basic MzkwODkwOGRzMDlmOGQ5MHM4YWY5MGRzYTo5MDc4MDlwODc5MDc5ODc4OTA="

/*
 * Spotify refresh token. This should be generated using spotify's
 * "Authorization Code Flow", and must include the user-read-currently-playing
 * scope. For more details, see:
 * https://developer.spotify.com/documentation/web-api/tutorials/code-flow.
 * The application will take care of refreshing the authorization token
 */
#define SPOTIFY_AUTH_REFRESH_TOKEN "890809dsdadssa8098AA908908sdf8s90890"

/*
 * Spotify client ID. This should match the client ID of the application
 * created in spotify's developer apps page. For more details see here:
 * https://developer.spotify.com/documentation/web-api/concepts/apps
 */
#define SPOTIFY_AUTH_CLIENT_ID "98902384930282390489320"

#endif /* APP_SECRETS_H_ */

